Package: wdc-kinetic
Version: 1.0.0-FOR-EVAL-ONLY
Architecture: armhf
Maintainer: Gary Ballance <gary.ballance@wdc.com>
Depends: hdparm
Section: admin
Priority: optional
Description: Application that provides support for the Kinetic object-based protocol.
